.input-full{
  width: 100%;
}
.sign-card{
  max-width: 600px;
  margin: auto;
  text-align: center;
}

md-card-content{
 margin-top: 2rem;

 md-input{
   margin: 1rem 0;
 }
 .sign-up-link{
   font-size: 0.8rem;
 }
}
#signup-button{
  width: 60%;
}

form{
  margin-top: 20px;
}
